<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="el_shabander.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="el_shabander.Properties.Settings.DB_elshConnectionString" connectionString="Data Source=DESKTOP-2UUDR99\SQLEXPRESS;Initial Catalog=DB_Manufacture_storage;Persist Security Info=True;User ID=omran;Password=123" providerName="System.Data.SqlClient" />
    <add name="DB_storeEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=DB_store;persist security info=True;user id=omran;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <el_shabander.Properties.Settings>
      <setting name="color" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="nameuser" serializeAs="String">
        <value>omran</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>123</value>
      </setting>
      <setting name="checkbox" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="namecomp" serializeAs="String">
        <value>هنا اسم الشركة</value>
      </setting>
      <setting name="logocomp" serializeAs="String">
        <value>هنا لوجو الشركة</value>
      </setting>
      <setting name="address" serializeAs="String">
        <value>ادفو -اسوان-بجوار الصرف الصحى</value>
      </setting>
      <setting name="phonenam" serializeAs="String">
        <value>01118324397</value>
      </setting>
      <setting name="serail" serializeAs="String">
        <value>ss</value>
      </setting>
      <setting name="TrialStartDate" serializeAs="String">
        <value>05/18/2024 00:42:00</value>
      </setting>
      <setting name="license" serializeAs="String">
        <value />
      </setting>
      <setting name="printing" serializeAs="String">
        <value />
      </setting>
      <setting name="isfirestopen" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="databasename" serializeAs="String">
        <value>DB_store</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="RememberMe" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Password2" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailInterval" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="darkmode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="servername" serializeAs="String">
        <value>.\SQLEXPRESS01</value>
      </setting>
      <setting name="printingcode" serializeAs="String">
        <value />
      </setting>
      <setting name="invoceprint" serializeAs="String">
        <value />
      </setting>
      <setting name="barcodeprint" serializeAs="String">
        <value />
      </setting>
      <setting name="checkinprint" serializeAs="String">
        <value />
      </setting>
      <setting name="a5print" serializeAs="String">
        <value />
      </setting>
    </el_shabander.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.0.0.0" newVersion="17.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>